<style>
    p {
      text-align: center;
      text-justify: inter-word;
    }
  
    a {
      display: block;
      text-align: center;
      text-justify: inter-word;
    }
  </style>
  <br>  <br>  <br>
  <p>enlace Github:</p>
  <a href="https://github.com/Terrenal07/Ejercicio-entrouting" target="_blank">Enlace</a>
  <br> 
  
  <p>tecnologias utilizadas:</p>
  <p>- Github</p>
  <p>- Angular</p>
  <p>- Google Firebase</p>
  <p>- Html</p>
  
  <a href="../../assets/PRUEBA.pdf" target="_blank" rel="noopener noreferrer">
    Enlace al PDF
  </a>
  