<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejercicio Routing</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <br>
  <div class="container">
    <h2>Ejercicio routing</h2>
    <br> 
    <p>Esta web tiene como objetivo practicar con el routing en Angular<p>
    <p>Juega con los tres botones del header para cambiar de página<p>

    <!-- Contenido de la página -->
    <div class="content">
      <!-- Aquí iría el contenido dinámico de las páginas -->
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
